# ========================================
# 🌐 ENVIRONMENT VARIABLES - Frontend (Template)
# ========================================

# Link API của Backend (Local là http://localhost:5000/api)
NEXT_PUBLIC_API_URL="http://localhost:5000/api"
